html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: rgb(249, 235, 29);
  text-decoration-skip: edges;
  text-decoration-thickness: 2px;
}

a:hover {
  text-decoration-color: rgb(249, 235, 29, 0.7);
}

* {
  box-sizing: border-box;
}

:root {
  --fmono: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Ubuntu Mono",
    "Roboto Mono", Menlo, Monaco, Consolas, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #111;
    --color-fg: #eee;
    --color-pre-bg: #1a1a1a;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #f7f7f7;
    --color-fg: #111;
    --color-pre-bg: #fff;
  }
}

html {
  color: var(--color-fg);
  background: var(--color-bg);
}

.sriracha,
h1,
h2 {
  font-family: "Sriracha", sans-serif;
}
