.root {
  margin: 0 1.5rem;
}

.main {
  max-width: 1000px;
  padding: 1em;
  margin: 0 auto;
}

.main h2 {
  margin-bottom: 0.3em;
}

.icon {
  width: 48px;
  height: 48px;
}

.listCnt {
  width: 100%;
}
